**/.DS_Store
**/.Rhistory
/first_submission/scripts/corr_alexnet_pilot.Rmd
/first_submission/scripts/corr_alexnet_pilot.html
/first_submission/scripts/linear_plot.Rmd
/first_submission/scripts/nn_corr.Rmd
/first_submission/scripts/nn_multilevel.Rmd
/first_submission/scripts/nn_corr_multilevel_mobile.Rmd
/archive
/third_revision